// Override this file to add your own SCSS styling.

.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 25px;
  font-weight: bold;
}

.author-card .avatar {
  width: 300px;
  height: 300px;
}
