// Override this file to add your own SCSS styling.

.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 20px;
  font-weight: bold;
}

.author-card .avatar {
  width: 300px;
  height: 300px;
}

.container {
    width: 1000% !important;
}

div.universal-wrapper.pt-3 h1 {
  text-align: center;
  padding-bottom: 50px;
  text-transform: capitalize;
}